@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.sobre {
    background: url(../imagens/fundo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}


.botaoSuper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    background-color: #490000;
    color: white;
    padding: 12px;
    width: 120px;
    border-radius: 35px;
    border: 0.5px solid #FDF0D5;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.texto p {
    text-align: center;
}

.bt1 {
    width: 145px;
    height: 42px;
    background-color: #490000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bt2 {
    width: 145px;
    height: 42px;
    background-color: #2F0000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.posts {
    background-color: #fff;
    color: black;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 5rem;
}

.nomeCont {
    color: #b90000;
    margin-left: 0;
    padding-left: 20px;
}

.werych {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}


.img1 {
    border-radius: 25px;
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
}

.cor1 {
    color: #b90000;
}

.tudo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.imagemm {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.img1 {
    border-radius: 25px;
    max-width: 650px;
}

.info1, .texto1 {
    width: 100%;
    margin-top: 25px;
}

.populares {
  position: static;
  margin-top: 0;
  white-space: nowrap;
  margin-bottom: 10px;
}


.org1 {
    width: 105%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}


.img234 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 5px;
}

.linha {
    margin-top: 15px;
    width: 105%;
}

.info {
    color: #b90000;
}

.espacamento1 {
    margin-top: 5px;
    color: black;
}

.Artigos {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: black;
    margin-top: 6%;
    margin-bottom: 6%;
}

.pesq {
    padding: 10px;
    width: 300px;
}

.cl {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1450px;     
}

.fotos {
    width: 100%;
    gap: 2rem;
}

.fotos p {
    color: black;
}

.i  {
    width: 100%;
    border-radius: 5px;
}

.v {
   color: #b90000;
}

.esp {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 20px;
}

.fn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vh;
    flex-direction: column;
}

.tex {
    border: 1px solid rgb(114, 9, 9);
    background-color: white;
    color: rgb(114, 9, 9);
    width: 165px;
    padding: 15px;
    height: 54px;
    border-radius: 10px;
    cursor: pointer;
}