@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.header p {
    color: black;
}

.cor {
    color:rgb(114, 9, 9) ;
}

.teste {
    display: flex;
    justify-content: center;
}


.publi {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1022px;
    margin-top: 30px;
}

.publi h2 {
    color: black;
}

.bot {
    background-color: rgb(114, 9, 9);
    color: white;
    padding: 15px;
    height: 55px;
    border-radius: 10px;
    border: none;
    width: 15%;
}

.fnl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.carregar {
    border: 1px solid rgb(114, 9, 9);
    border-radius: 5px;
    background-color: white;
    color: rgb(114, 9, 9);
    width: 165px;
    height: 55px;
}