@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: #2F0000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-left: 30px;
    margin: 30px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F0000;
    color: #FDF0D5;
}

.categorias {
    display: flex;
    gap: 5rem;
    margin-right: 30px;
}

.artigos {
    margin-top: 20px;
    padding: 60px;
}

.btv {
    padding: 50px;
    text-decoration: none;
    background-color: #2F0000;
    color: #fff;
    display: block;
}

.ajustar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    text-align: justify;
}

.semelhantes {
    background-color: #2F0000;
    color: #FDF0D5;
}

footer {
    width: 100%;
    padding: 50px 0;
    background-color: #2F0000;
    color: #FDF0D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixaConteudo {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
    padding: 60px;
}

.conteudo {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.seta {
    position: absolute;
    right: 40px;
    padding: 15px;
    background-color: #2F0000;
    color: #FDF0D5;
    border: 0.5px solid #FDF0D5;
    border-radius: 50dvh;
    cursor: pointer;
}