@import url('../styles/main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caixa {
    height: 300px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.headers {
    width: 100%;
    max-width: 900px; 
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    color: #FFF;
}

.categorias {
    display: flex;
    gap: 1rem;
    color: #FFF;
}

footer {
    background: url(../imagens/footer.png.png);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    margin-top: 5rem;
}

.fim {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mensagem {
    color: #FFF;
}

.caixaExplorar ul {
    list-style: none;
    text-decoration: none;
}

.caixaExplorar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.seta {
    width: 50px;
    height: 50px;
    margin-left: 40px;
    background-color: #2F0000;
    color: #FDF0D5;
    border: 0.5px solid #FDF0D5;
    border-radius: 50%;
    cursor: pointer;
}