@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.headerv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    max-width: 1100px;
}

.cor {
    color:rgb(114, 9, 9) ;
}

.teste {
    display: flex;
    justify-content: center;
}


.publi {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    max-width: 1100px;
    
}

.bot1{
    background-color: rgb(114, 9, 9);
    color: white;
    padding: 15px;
    height: 54px;
    border-radius: 10px;
    border: none;
    width: 15%;
}

.cl {
    display: flex;
    justify-content: center;
   
}

.imagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;     
    max-width: 1100px;
}

.imagem {
    width: 31%;
    margin-left: 1rem;
    border-radius: 5px;
}

.a  {
    width: 100%;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.opc{
     background-color: rgb(114, 9, 9); 
     color: white;
     border-radius: 7px;
     width: 60%;
     padding: 10px;
     border: none;
     margin: 5px;
}

.opc2{
     background-color: #490000; 
     color: white;
     border-radius: 7px;
     width: 60%;
     padding: 10px;
     border: none;
     margin: 5px;
}

.fnl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.t {
    border: 1px solid rgb(114, 9, 9);
    background-color: white;
    color: rgb(114, 9, 9);
    width: 165px;
    padding: 15px;
    height: 54px;
    border-radius: 10px;
}