@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F3F2FF;
    color: #2D2D2D;
    min-height: 100vh;
}

.cabecalho {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E4E1FF;
}

.cor {
    color: #7063F0;
    font-weight: 600;
}

.cabecalho p {
    color: #555555;
}

main {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.alinhar {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 1rem;
}

.container h3 {
    color: #2D2D2D;
}

.container input {
    width: 100%;
    padding: 0.8rem 1rem;
    background: #E4E1FF;
    border: 1px solid #7063F0;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

.container input::placeholder {
    color: #7063F0;
}

.container button {
    background: #7063F0;
    color: #F3F2FF;
    border: none;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
}

.risco {
    height: 1px;
    background-color: #E4E1FF;
    margin: 30px 0;
}

.alinhar h3 {
    color: #2D2D2D;
}

.ult_div {
    margin: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}