@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: #2F0000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-left: 30px;
    margin: 30px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F0000;
    color: #FDF0D5;
}

.categorias {
    display: flex;
    gap: 5rem;
    margin-right: 30px;
}

.artigos {
    margin-top: 20px;
    padding: 60px;
}

.btv {
    padding: 50px;
    text-decoration: none;
    background-color: #2F0000;
    color: #fff;
    display: block;
}

.ajustar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    text-align: justify;
}

.semelhantes {
    background-color: #2F0000;
    color: #FDF0D5;
}

.conteudo {
    margin-top: 25px;
}