@import url('../Styles/Main.css');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fuzzy+Bubbles&family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divtotcom {
    height: 300px;
}

.headershow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-family: 'Rancho', serif;
}

.divheaderfirst {
    width: 100%;
    max-width: 900px; 
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divtags {
    display: flex;
    gap: 1rem;
    color: #FFF;
}

.titsho {
    color: #FFF;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    font-family: 'Rancho', serif;
    background-color: var(--cor-neon-2);
    margin-top: 5rem;
}

.divfooter {
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footext {
    color: #FFF;
}

.foomenu {
    color: #FFF;
}

.butfoo {
    color: #FFF;
    background-color: var(--cor-neon-2);
    width: 30px;
    height: 30px;
    border: 1px solid #c7bfbfa5;
    border-radius: 50%;
    cursor: pointer;
}