@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: url(../imagens/fundo.png);
    color: #FDF0D5;

}

.headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin-left: 30px;
    margin: 30px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imagens/fundo.png);
    color: #fff;
}

.categorias {
    display: flex;
    gap: 5rem;
    margin-right: 30px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
}

.botao {
    background-color: #490000;
    color: white;
    padding: 12px;
    width: 120px;
    border-radius: 35px;
    border: 0.5px solid #FDF0D5;
}

.texto2 {
    text-align: center;
}

.bt1 {
    width: 145px;
    height: 42px;
    background-color: #490000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bt2 {
    width: 145px;
    height: 42px;
    background-color: #2F0000;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.conteudo {
    background-color: #fff;
    color: black;
    width: 100%;
    height: 10%;
}

footer {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fim {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
}

.mensagem {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.caixaExplorar ul {
    list-style: none;
}

.caixaExplorar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.seta {
    position: absolute;
    right: 40px;
    padding: 15px;
    background-color: #2F0000;
    color: #FDF0D5;
    border: 0.5px solid #FDF0D5;
    border-radius: 50dvh;
    cursor: pointer;
}