@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin: 30px;
    margin-top: 20px;
}

.categorias {
    display: flex;
    gap: 5rem;
    margin-right: 30px;
}

button {
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
