@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(22, 20, 20);
}


.principal {
    margin: 0 auto;
    max-width: 1000px;
}
.user {
    color: white;
}

.caixa {
    border: 1px solid rgba(56, 56, 56, 0.521);
    border-radius: 5px;
    margin-top: 3rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 28, 28);
}

button {
    background-color: rgb(148, 18, 94);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.pesquisa {
    padding: 15px;
}